.playersWrapper {
	display: flex;
    background-color: rgba(0,0,0,0.5);
	padding: 10px;
	margin: 10px;
	font-size: 50px;
}

.playersWrapper > img {
	padding-left: 10px;
}

#playersRight {
	position: fixed;
	left: 0px;
	top: 706px;
	width: 1920px;
	height: 300px;
	
	display: flex;
	align-items: flex-end;
    justify-content: space-evenly;
}