#webcam1 {
	left: 0px;
	top: 0px;
	width: 806px;
	height: 487px;
}

#playersWrapper {
	left: 0px;
	top: 0px;
	width: 806px;
	height: 487px;

	flex-direction: column; /* Top to bottom */
	justify-content: flex-end; /* Aligns vertically bottom. */
	align-items: flex-start; /* Aligns horizontally left. */
	padding: 10px;
}

#gameCapture1 {
	left: 809px;
	top: 0px;
	width: 1111px;
	height: 1000px;
}

#infoContainer {
	left: 0px;
	top: 490px;
	width: 806px;
	height: 510px;
	
	line-height: 1;
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
}